In [2]:
import imaplib
import os
import email
import matplotlib.pyplot as plt
import pandas as pd
# import db_manager

In [3]:
from bs4 import BeautifulSoup

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,Unnamed: 0,email_id,subject,content,cluster
0,0,1764d7d6cf405a4a,"Hi Asfina, 50-90% discounts on Binoculars, Hig...",DQoNCg0KDQoNCjxodG1sPg0KPGhlYWQ-DQo8bWV0YSBodH...,0
1,1,1764c9755fb56cf6,Quickstart was granted access to your Google A...,UXVpY2tzdGFydCB3YXMgZ3JhbnRlZCBhY2Nlc3MgdG8geW...,0
2,2,1764a836a842398f,"Hi Asfina, üç≥üî™ For your kitchen: 90% off trendi...",DQoNCg0KDQoNCjxodG1sPg0KPGhlYWQ-DQo8bWV0YSBodH...,0
3,3,1764872b30de4209,"Hi Asfina, Laptop clearance? üíª Get a laptop co...",DQoNCg0KDQoNCjxodG1sPg0KPGhlYWQ-DQo8bWV0YSBodH...,0
4,4,176451a1985a5fd6,"Hi Asfina, We&#39;re giving away 100 winter ha...",DQoNCg0KDQoNCjxodG1sPg0KPGhlYWQ-DQo8bWV0YSBodH...,0

In [6]:
df.shape

(1206, 5)

In [7]:
import base64


def decode(text):
    if type(text) == float:
        print(text)
        return text
    text = base64.urlsafe_b64decode(text).decode('utf-8')
    return text

In [8]:
df['content'] = df['content'].apply(lambda content: decode(content))

nan

In [9]:
df.head()

,Unnamed: 0,email_id,subject,content,cluster
0,0,1764d7d6cf405a4a,"Hi Asfina, 50-90% discounts on Binoculars, Hig...",\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,0
1,1,1764c9755fb56cf6,Quickstart was granted access to your Google A...,Quickstart was granted access to your Google A...,0
2,2,1764a836a842398f,"Hi Asfina, üç≥üî™ For your kitchen: 90% off trendi...",\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,0
3,3,1764872b30de4209,"Hi Asfina, Laptop clearance? üíª Get a laptop co...",\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,0
4,4,176451a1985a5fd6,"Hi Asfina, We&#39;re giving away 100 winter ha...",\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,0

In [10]:
df[df['content'].isna()]
df[df['content'].isna()]

     Unnamed: 0          email_id subject content  cluster
972         972  15ee337bd4cb0803     NaN     NaN        0

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import string
import re

In [12]:
# nltk.download('all')

In [13]:
nltk.download('stopwords')
##Remove stopwords (does not contribute much in sentence)
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /home/hb/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
def beautify(text):
    text = BeautifulSoup(str(text), "lxml").get_text()
    return text

In [15]:
df['beautify'] = df['content'].apply(lambda content: beautify(content))

In [24]:
df[['content', 'beautify']].head()

,content,beautify
0,\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,"\n\n\n 50-90% discounts on Binoculars, High Po..."
1,Quickstart was granted access to your Google A...,Quickstart was granted access to your Google A...
2,\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,\n\n\n üç≥üî™ For your kitchen: 90% off trending C...
3,\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,\n\n\n Laptop clearance? üíª Get a laptop comput...
4,\r\n\r\n\r\n\r\n\r\n<html>\r\n<head>\r\n<meta ...,\n\n\n We're giving away 100 winter hats right...

In [25]:
def removed_punc(text):
    return "".join([char for char in text if char not in string.punctuation])

In [31]:
df['no_punc'] = df['beautify'].apply(lambda content: removed_punc(content))

In [32]:
df[['beautify', 'no_punc']].head()

,beautify,no_punc
0,"\n\n\n 50-90% discounts on Binoculars, High Po...",\n\n\n 5090 discounts on Binoculars High Power...
1,Quickstart was granted access to your Google A...,Quickstart was granted access to your Google A...
2,\n\n\n üç≥üî™ For your kitchen: 90% off trending C...,\n\n\n üç≥üî™ For your kitchen 90 off trending Cut...
3,\n\n\n Laptop clearance? üíª Get a laptop comput...,\n\n\n Laptop clearance üíª Get a laptop compute...
4,\n\n\n We're giving away 100 winter hats right...,\n\n\n Were giving away 100 winter hats right ...

In [33]:
def tokenization(text):
    return re.split('\W+', text)

In [34]:
df['tokenized'] = df['no_punc'].apply(lambda content: tokenization(content))

In [35]:
df[['no_punc', 'tokenized']].head()

,no_punc,tokenized
0,\n\n\n 5090 discounts on Binoculars High Power...,"[, 5090, discounts, on, Binoculars, High, Powe..."
1,Quickstart was granted access to your Google A...,"[Quickstart, was, granted, access, to, your, G..."
2,\n\n\n üç≥üî™ For your kitchen 90 off trending Cut...,"[, For, your, kitchen, 90, off, trending, Cutt..."
3,\n\n\n Laptop clearance üíª Get a laptop compute...,"[, Laptop, clearance, Get, a, laptop, computer..."
4,\n\n\n Were giving away 100 winter hats right ...,"[, Were, giving, away, 100, winter, hats, righ..."

In [37]:
def lower_case(tokens):
    return [word.lower() for word in tokens]

In [38]:
df['lower_case'] = df['tokenized'].apply(lambda content: lower_case(content))

In [39]:
df[['tokenized', 'lower_case']].head()

,tokenized,lower_case
0,"[, 5090, discounts, on, Binoculars, High, Powe...","[, 5090, discounts, on, binoculars, high, powe..."
1,"[Quickstart, was, granted, access, to, your, G...","[quickstart, was, granted, access, to, your, g..."
2,"[, For, your, kitchen, 90, off, trending, Cutt...","[, for, your, kitchen, 90, off, trending, cutt..."
3,"[, Laptop, clearance, Get, a, laptop, computer...","[, laptop, clearance, get, a, laptop, computer..."
4,"[, Were, giving, away, 100, winter, hats, righ...","[, were, giving, away, 100, winter, hats, righ..."

In [44]:
def no_stopwords(tokens):
    text = [word for word in tokens if word not in stopword]
    text = [word for word in text if len(word) > 1]
    return text

In [45]:
df['no_stopwords'] = df['lower_case'].apply(lambda content: no_stopwords(content))

In [46]:
df[['lower_case', 'no_stopwords']].head()

,lower_case,no_stopwords
0,"[, 5090, discounts, on, binoculars, high, powe...","[5090, discounts, binoculars, high, power, fla..."
1,"[quickstart, was, granted, access, to, your, g...","[quickstart, granted, access, google, account,..."
2,"[, for, your, kitchen, 90, off, trending, cutt...","[kitchen, 90, trending, cutters, kitchen, rack..."
3,"[, laptop, clearance, get, a, laptop, computer...","[laptop, clearance, get, laptop, computer, 64,..."
4,"[, were, giving, away, 100, winter, hats, righ...","[giving, away, 100, winter, hats, right, outlo..."

In [47]:
def clean_text(text):
    text = BeautifulSoup(str(text), "lxml").get_text()
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    tokens = re.split('\W+', text_nopunct)
    tokens = [word.lower() for word in tokens]
    text = [word for word in tokens if word not in stopword]
    text = [word for word in text if len(word) > 1]
    return text

In [48]:
df['clean'] = df['subject'].apply(lambda x: clean_text(x))

In [49]:
df[['subject','clean']].head()

,subject,clean
0,"Hi Asfina, 50-90% discounts on Binoculars, Hig...","[hi, asfina, 5090, discounts, binoculars, high..."
1,Quickstart was granted access to your Google A...,"[quickstart, granted, access, google, account,..."
2,"Hi Asfina, üç≥üî™ For your kitchen: 90% off trendi...","[hi, asfina, kitchen, 90, trending, cutters, k..."
3,"Hi Asfina, Laptop clearance? üíª Get a laptop co...","[hi, asfina, laptop, clearance, get, laptop, c..."
4,"Hi Asfina, We&#39;re giving away 100 winter ha...","[hi, asfina, giving, away, 100, winter, hats, ..."

In [50]:
vectorizer = TfidfVectorizer(stop_words='english', analyzer=clean_text)

In [51]:
data_matrix=vectorizer.fit_transform(df['subject'])
print("\n Feature names Identified :\n")
# print(vectorizer.get_feature_names())

 Feature names Identified :

In [52]:
vectorizer.get_feature_names()[1000:1010]

['airport',
 'akbar',
 'al',
 'alarm',
 'alert',
 'ali',
 'allah',
 'allama',
 'alloy',
 'allstar']

In [53]:
data_matrix.shape

(1206, 3489)

In [54]:
sentence = "Your account is listed as the recovery email for  Dont recognize this account?"
sentence_vector = vectorizer.transform([sentence])

In [55]:
sentence_vector

<1x3489 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>